# Dependencies
node_modules/
**/node_modules/

# Next.js build output
.next/
**/.next/
out/
**/out/

# Environment variables
.env*.local
**/.env*.local

# Vercel & Cache
.vercel/
**/.vercel/
*.tsbuildinfo
**/*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db
