# Web3Forms Free Access Key (Get one in 5 seconds at https://web3forms.com by entering your email)
# Messages from your portfolio contact form will be delivered straight to your email.
WEB3FORMS_ACCESS_KEY=your_web3forms_access_key_here
NEXT_PUBLIC_WEB3FORMS_KEY=your_web3forms_access_key_here
